.form-group
  label(for="title") 주제
  input.form-control(type="text", name="title", placeholder="여행주제를 입력하시오", value=tour.title)
.form-group
  label(for="tour_content") 여행계획
  textarea#editor1(name='content', rows='10', cols='80')=tour.content
.form-group
  label(for="date") 여행날짜
  input.form-control(type = 'date',name="date", placeholder="여행날짜를 yyyy/mm/dd/의 형식으로 입력하시오", value = tour.date)
.form-group
  label(for="day") 기간
  input.form-control(type="number", name="day", placeholder="여행기간을 입력하시오", value=tour.day)
.form-group
  label(for="price") 1인당 가격
  input.form-control(type="number", name="price", placeholder="1인당 가격을 입력하시오", value=tour.price)
.form-group
  label(for="country") 나라
  input.form-control(type="text", name="country", placeholder="여행 국가를 입력하시오", value=tour.country)
.form-group
  label(for="city") 도시
  input.form-control(type="text", name="city", placeholder="여행 국가에서 방문하는 도시를 입력하시오", value=tour.city)
.form-group
  label(for='img') 사진
  input.form-control(type="file", name="img")

.form-group
  label(for='course') 여행코스
  .buttons
    input(type='text', name='course')
    input.btnAdd(type='button', value='Add')
    br

  
  script(type='text/javascript').
    $(document).ready (function () {
    $('.btnAdd').click (function () {
    $('.buttons').append (
    '<input type="text" name="course"> <input type="button" class="btnRemove" value="Remove"><br>'
    );
    $('.btnRemove').on('click', function () {
    $(this).prev().remove ();
    $(this).next ().remove (); 
    $(this).remove (); 
    });
    }); 
    }); 

  script(type='text/javascript').
    CKEDITOR.config.autoParagraph = false
    CKEDITOR.config.htmlEncodeOutput = false;
    CKEDITOR.config.entities = false;
    CKEDITOR.replace( 'editor1');





