extends ../layout

block content
  .container
    h1.main-title= tour.title

    .tour.show
      if tour.img
        img.img-fluid(src= tour.img)
      include _tour

      .buttons
        if currentUser
          button.btn.btn-primary.tour-like-btn(data-id=tour.id) 
            span #[i.fa.fa-thumbs-up] Like
          if tour.author && tour.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/tours/${tour.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/tours/${tour.id}?_method=delete`) Delete
      
    .container(style="background-color:lightgrey;")
      h4 예약하기
      form(action='/carts', method='post', name='myform', onkeyup='calculate()')
        |  상품명
        input#title(type='text',name = 'title',value = tour.title,readonly='')      
        |  가격
        input#num1(type='text',name = 'price',value = tour.price,readonly='')
        |  인원
        input#num2(type='text',name = 'numpeople')
        |  총가격 
        input#answer(type='text',name = 'totalprice',readonly='')
        button.btn.btn-secondary(type="submit") 예약하기
        

    script(type='text/javascript').
      var form = document.forms.myform,
      price = form.price,
      numpeople = form.numpeople,
      output = form.totalprice;
      window.calculate = function () {
        var q = parseInt(price.value, 10) || 0,
        c = parseFloat(numpeople.value) || 0;
        output.value = (q * c);}


  
    if tour.numAnswers > 0
      hr
      h3 후기
      .answers.show
        each answer in answers
          include _answer

    form(action=`/tours/${tour.id}/answers`, method='POST')
      .form-group
        label(for='answer') 후기 등록
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") 후기등록하기


  script(src='/javascripts/tour_client.js')

